{% extends 'layout.html' %}

{% block title %} Editar estado{% endblock %}

{% block content %}

    <div class="titulos"><a href="{% url 'siniestros' %}">Siniestros ></a>Editar siniestro</div>
    <div id="base"> 
        <p></p>   



            ID Siniestro: {{siniestros.id}}
        <form method="POST">

            {% csrf_token %}  
            {% for el in form %}
            <table class="tabla_general_2">
                <tr class="tr_general_2">
                    <td class="td_general_2">{{el}}</td>
                    
                </tr>
                <tr class="tr_general">
                    <td class="td_general_2">
                        <input type="submit" class="botones_generales" value="Actualizar">
                    </td>

                </tr>
            </table>

            {% endfor %}
        </form>
    </div>
    
{% endblock %}